
.DS_Store
Logs
Library
Temp/FSTimeGet-301be8fd8f1539e4f9f233060cb1a02b
Temp/FSTimeGet-3648670892585bd48b2f5e3afc320dad
Temp/FSTimeGet-bfa428a85c2d56c40b950c1f41735ec9
Temp/UnityLockfile
Temp/UnityLockfile
Febucci.TextAnimator.Demo.Editor.csproj
Febucci.TextAnimator.Demo.Runtime.csproj
Febucci.TextAnimator.Editor.csproj
Febucci.TextAnimator.Runtime.csproj
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/Febucci.TextAnimator.Demo.Editor.csproj.AssemblyReference.cache
obj/Debug/Febucci.TextAnimator.Demo.Runtime.csproj.AssemblyReference.cache
obj/Debug/Febucci.TextAnimator.Editor.csproj.AssemblyReference.cache
obj/Debug/Febucci.TextAnimator.Runtime.csproj.AssemblyReference.cache
Temp/__Backupscenes/0.backup
Temp/FSTimeGet-87f016c0360824f86933e259dd787b85
Temp/FSTimeGet-93528e1b3cb4646818c8ccb02a7e9048
Temp/FSTimeGet-f8326097aa3cb491a90bc1cb9d416e54
Weibar.sln
Temp/UnityLockfile
*.htm
Temp/__Backupscenes/0.backup
Temp/FSTimeGet-10981833a0a374b68a7cc2010f53a7b7
Temp/FSTimeGet-6f09f1ee0d9a84b58842a59afbc362a0
Temp/FSTimeGet-6f98693212b3ed3449e00f85f15b7d9c
Temp/FSTimeGet-8662c27c2faac4c4d8592b033f1a7bcc
Temp/FSTimeGet-9db167c73c393438c9bd695fafaa0d94
Temp/FSTimeGet-ad6fbc37d861d4accaee18c742d4b4f5
Temp/FSTimeGet-e798db43c6e4c8f45bfe7339ee0d04c2
Temp/FSTimeGet-f13e96f5941f1476d9984dd9f2ac2be3
Temp/UnityLockfile
Temp/workerlic
Weibar.sln
*.cache
Febucci.TextAnimator.Runtime.csproj
Febucci.TextAnimator.Editor.csproj
Febucci.TextAnimator.Demo.Runtime.csproj
Febucci.TextAnimator.Demo.Editor.csproj
