
.DS_Store
Logs
Library
Temp/FSTimeGet-301be8fd8f1539e4f9f233060cb1a02b
Temp/FSTimeGet-3648670892585bd48b2f5e3afc320dad
Temp/FSTimeGet-bfa428a85c2d56c40b950c1f41735ec9
Temp/UnityLockfile
Temp/UnityLockfile
Febucci.TextAnimator.Demo.Editor.csproj
Febucci.TextAnimator.Demo.Runtime.csproj
Febucci.TextAnimator.Editor.csproj
Febucci.TextAnimator.Runtime.csproj
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/Febucci.TextAnimator.Demo.Editor.csproj.AssemblyReference.cache
obj/Debug/Febucci.TextAnimator.Demo.Runtime.csproj.AssemblyReference.cache
obj/Debug/Febucci.TextAnimator.Editor.csproj.AssemblyReference.cache
obj/Debug/Febucci.TextAnimator.Runtime.csproj.AssemblyReference.cache
Temp/__Backupscenes/0.backup
Temp/FSTimeGet-87f016c0360824f86933e259dd787b85
Temp/FSTimeGet-93528e1b3cb4646818c8ccb02a7e9048
Temp/FSTimeGet-f8326097aa3cb491a90bc1cb9d416e54
Weibar.sln
Temp/UnityLockfile
